.card {
  background-color: var(--bg-secondary);
  color: var(--text-main);
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-header {
  display: grid;
  gap: 0.375rem;
  padding: 1.5rem;
  padding-bottom: 0;
}

.card-title {
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.025em;
  margin: 0;
}

.card-description {
  font-size: 0.875rem;
  color: var(--text-muted);
  margin: 0;
}

.card-content {
  padding: 1.5rem;
  padding-top: 0;
}

.card-footer {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  padding-top: 0;
}

.card-action {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: start;
  justify-self: end;
}
